body {
    font-family: "Segoe UI";
    height: auto;
    background-color: #e3f0f0;
  }
  button {
    border-radius: 24px;
    opacity: 0.5;
    padding: 5px 25px;
    margin-left: 24px;
  }
  
 .table{
   padding: 20px;
 }
  .title {
    margin: 4rem 0rem 0rem 7rem;
  }
  
  .btn-primary {
    font-weight: 700;
    opacity: 1;
    padding: 5px 25px;
    box-shadow: 0.5px 1px rgba(102, 102, 102, 0.753);
    margin: 10px 0 30px 15px;
  }
  .btn-primary:hover {
    color: #2e86c1;
    transition: 0.2s;
    transform: scale(1.1);
    border: solid 1px #2e86c1;
    border-radius: 8px;
    background-color: whitesmoke;
  }
  #footer {
    background-color: #e4e4e4;
  }
  .col-3 h4 {
    font-weight: 700;
  }
  